

<!DOCTYPE html>
<html @*lang="en"*@>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>KURUM OTOMASYON</title>
    <!-- Custom fonts for this template-->
    <link href="/AdminDashboard/AdminDashboard1/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/AdminDashboard/AdminDashboard1/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/AdminDashboard/AdminDashboard1/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <form runat="server">
        <div id="wrapper">
            <!-- Sidebar -->

            <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
                <div> </div>
                <!-- Sidebar - Brand -->
                <div></div>
                <div></div>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

                    <div style="color:white"><b> ÇEVRE KORUMA DAİRE BAŞKANLIĞI</b></div>



                </a>


                <img src="~/Content/haf2.jpg" />
                <br />


                <!-- Divider -->
                <!-- Nav Item - Dashboard -->
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <!-- Nav Item - Pages Collapse Menu -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDuyuru"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-user" style="color:white"></i>
                        <h7><b>Şikayet Listesi </b></h7>
                    </a>
                    <div id="collapseDuyuru" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">

                            <a class="collapse-item" href="/Heading/Index/">
                                <i class="fas fa-fw fa-info"></i>Tüm şikayetler Listesi
                                <a class="collapse-item" href="/WriterPanel/MyHeading/"><i class="fas fa-fw fa-calculator"></i> Kontrol edilen iş listem</a>

                                <a class="collapse-item" href="/WriterPanelContent/MyContent/"><i class="fas fa-fw fa-book"></i> Yaptığım işlemler</a>
                                <a class="collapse-item" href="/WriterPanel/NewHeading/"><i class="fas fa-fw fa-plus"></i> Şikayet Ekle</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Admin/PersonelListele.aspx/" data-toggle="collapse" data-target="#collapsePerson"
                       aria-expanded="true" aria-controls="collapsePages">
                        <b style="color:white"> <i class="fas fa-fw fa-book" style="color:white"></i></b>
                        <h7><b>Petrol istasyonu Ruhsat Denetimleri </b></h7>
                    </a>

                    <div id="collapsePerson" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h7 class="collapse-header"><b>Petrol işlemleri</b></h7>
                            <a class="collapse-item" href="/PetrolRuhsat/Index"><i class="fas fa-fw fa-table"></i> Petrol Ruhsat Denetimleri</a>
                            <a class="collapse-item" href="/PetrolRuhsat/AddPetrol"><i class="fas fa-fw fa-plus"></i> Yeni iş Ekle</a>


                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Admin/PersonelListele.aspx/" data-toggle="collapse" data-target="#suphe"
                       aria-expanded="true" aria-controls="collapsePages">
                        <b style="color:white"> <i class="fas fa-fw fa-search" style="color:white"></i></b>
                        <h7><b>Şüpheli Döküm İşleri</b></h7>
                    </a>

                    <div id="suphe" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h7 class="collapse-header"><b>Şüpheli Döküm işlemleri</b></h7>
                            <a class="collapse-item" href="/SahaDurum/Index"><i class="fas fa-fw fa-table"></i> Şüpheli döküm listesi</a>
                            <a class="collapse-item" href="/SahaDurum/AddSaha"><i class="fas fa-fw fa-plus"></i> Şüpheli Döküm Ekle</a>



                        </div>
                    </div>
                </li>

                @*<li class="nav-item">
            <a class="nav-link collapsed" href="/Fırma/KritikStok"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-info" style="color:white"></i>
                <h7> <b> KritikStok @Html.Action("StokCount", "Fırma")</b></h7>
            </a>


        </li>*@

                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Default/Headings/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-blog" style="color:white"></i>
                        <h7> <b>  Bütün Firma Şikayetleri</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Writer/Index/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-person-booth" style="color:white"></i>
                        <h7> <b> Personeller</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Ceza/Index/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-plus-circle" style="color:white"></i>
                        <h7> <b> Firma Ceza Listesi</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Content/GetAllContent/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-chart-area" style="color:white"></i>
                        <h7> <b> Şikayet arama sayfası</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/Heading/HeadingReport/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-chart-area" style="color:white"></i>
                        <h7> <b> Raporlama sayfası</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/AdminCategory/Index/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-calendar-times" style="color:white"></i>
                        <h7> <b> Kategoriler</b></h7>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/SahaDurum/Index/"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-calendar-times" style="color:white"></i>
                        <h7> <b> ŞüpheliAlan Kontrolü</b></h7>
                    </a>


                </li>

                @if (User.IsInRole("A"))
                {
                    @*<li class="nav-item">
                <a class="nav-link collapsed" href="~/Test/SweetAlert/"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-calendar-times" style="color:white"></i>
                    <h7> <b> ŞüpheliAlan Kontrolü</b></h7>
                </a>


            </li>*@
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="~/Authorization/Index/"
                           aria-expanded="true" aria-controls="collapseUtilities">
                            <i class="fas fa-fw fa-calendar-times" style="color:white"></i>
                            <h7> <b> Yetkilendirme Kontrolü</b></h7>
                        </a>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/Login/LogOut/"
                           aria-expanded="true" aria-controls="collapseUtilities">
                            <i class="fas fa-fw fa-calendar-times" style="color:white"></i>
                            <h7> <b> Çıkış </b></h7>
                        </a>


                    </li>


                }
                <!-- Divider -->
                <!-- Heading -->
                <!-- Nav Item - Pages Collapse Menu -->
                @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder " style="color:white"></i>
                <span style="color:white">Raporlu Personel</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h5 class="collapse-header">Login Screens:</h5>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>*@

                <!-- Nav Item - Charts -->
                @*<li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area" style="color:white"></i>
                <span style="color:white">Grafikler</span>
            </a>
        </li>*@
                <!-- Nav Item - Tables -->
                @*<li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table" style="color:white"></i>
                <span style="color:white">Listeler</span>
            </a>
        </li>*@

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Sidebar Toggler (Sidebar) -->
                @*<div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>*@
                <!-- Sidebar Message -->
                <div class="sidebar-card">
                    <img class="sidebar-card-illustration mb-2" src="/AdminDashboard/AdminDashboard1/img/undraw_rocket.svg" alt="">
                    <p class="text-center mb-2"><strong>ÇEVRE KORUMA  İŞ TAKİP PROJESİ </strong> Kayseri Büyükşehir Belediyesi</p>

                </div>
            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->

            <div id="content-wrapper" class="d-flex flex-column">
                <nav class="navbar navbar-expand navbar-light bg-gradient-dark topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Search -->
                    @*@using (Html.BeginForm("Index", "Fırma", FormMethod.Get, new { @class = "navbar-search pull-left" }))


                        {

                            <input type="text" name="p" placeholder="Firma İsmi giriniz... " class="search-query span2" style="width:500px;height:30px;">

                            <button type="submit" class="btn btn-warning"> <span class="icon-search"></span><b>Ara</b></button>
                        }*@

                    <!-- Topbar Navbar -->
                    <h5 class="sidebar-brand-text mx-6" style="color:white;margin-left:25PX;"> <i class="fas fa-calendar fa-calendar"></i> <b> ÇEVRE KORUMA  İŞ TAKİP PROJESİ  </b> </h5>
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->





                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>




                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/AdminDashboard/AdminDashboard1/img/undraw_profile_1.svg"
                                             alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">
                                            Hi there! I am wondering if you can help me with a
                                            problem I've been having.
                                        </div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/AdminDashboard/AdminDashboard1/img/undraw_profile_2.svg"
                                             alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            I have the photos that you ordered last month, how
                                            would you like them sent to you?
                                        </div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/AdminDashboard/AdminDashboard1/img/undraw_profile_3.svg"
                                             alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!
                                        </div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="/AdminDashboard/AdminDashboard1/https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">
                                            Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...
                                        </div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">
                                <i style="color:white" class="fas fa-user fa-user-alt">.</i>
                                <span style="color:white">
                                    @User.Identity.Name
                                </span>
                            </a>
                        </li>
                        <b style="color:white">..</b>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <img class="img-profile rounded-circle"
                                     src="/AdminDashboard/AdminDashboard1/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    <a class="nav-link px-lg-4" style="color:black">@User.Identity.Name</a>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ayarlar
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Kullanicilar/LogOut/" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                @RenderBody()

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>


            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Çıkış yapmak istiyor musunuz?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Siteden çıkış yapmak istiyor musunuz?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">➔ Siteye Dön</button>
                        <a class="btn btn-primary" href="/Login/LogOut">✇ Çıkış Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Bootstrap core JavaScript-->
    <script src="/AdminDashboard/AdminDashboard1/vendor/jquery/jquery.min.js"></script>
    <script src="/AdminDashboard/AdminDashboard1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/AdminDashboard/AdminDashboard1/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/AdminDashboard/AdminDashboard1/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/AdminDashboard/AdminDashboard1/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/AdminDashboard/AdminDashboard1/js/demo/chart-area-demo.js"></script>
    <script src="/AdminDashboard/AdminDashboard1/js/demo/chart-pie-demo.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    @RenderSection("scriptdanger", false)
    @RenderSection("scripts1", false)
</body>
</html>











